/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Index style */

.nav-top-container {
	width: 100%;
	height: 40px;
	background-color: #272A31;
}

.nav-top {
	padding: 8px 182px;
}

.nav-top ul {
	float: right;
	margin: 0;
}

.nav-top ul li {
	display: inline;
	padding: 0 5px;
}

.nav-top ul li a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: 550;
}

.nav-bottom-container {
	width: 100%;
	height: 100px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5px;
}


.nav-bottom-left {
	width: 25%;
}

.nav-bottom-left img {
	width: 50px;
	height: 50px;
	float: right;
}

.nav-bottom-middle {
	width: 50%;
}

.nav-bottom-middle ul li {
	display: inline;
	padding: 0 25px;
}

.nav-bottom-middle ul li a {
	text-decoration: none;
	color: #272A31;
}

.nav-bottom-right {
	width: 25%;
}

.nav-bottom-right p {
	border: 4px solid #EC5242;
	color: #EC5242;
	padding: 8px;
	width: 125px;
}

.main-section-container {
	width: 100%;
	padding-left: 80px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url(./images/chessbackground.jfif);
	background-repeat: no-repeat;
  	background-size: cover;
}

.main-briefing {
	background-color: white;
	width: 60%;
	padding: 20px 10px;
}

.main-program-container {
	width: 100%;
	text-align: center;
	padding-top: 80px;
}

.main-program {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 75%;
	margin: 0 auto;
	padding: 15px 0;
}

.main-program-cards {
	width: 15%;
}

.main-program-container h6 {
	margin: 15px 0;
}

.featured-container {
	width: 100%;
}

.featured-container h2 {
	text-align: center;
}

.featured {
	width: 75%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.featured-cards {
	width: 45%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.featured-pic {
	width: 30%;
}

.featured-pic img {
	width: 90px;
	height: 90px;
}

.featured-text {
	width: 70%;
}

.footer-top-container {
	background-color: #272A31;
	padding: 20px 5px;
}

.footer-top-container h2 {
	text-align: center;
	color: #D3D3D3;
}

.footer-top {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.footer-top ul li {
	display: inline;
	padding: 0 20px;
}

.footer-top ul li a img {
	width: 50px;
	height: 50px;
}
.footer-bottom-container {
	width: 100%;
	display: flex;
	padding: 25px;
}
.footer-bottom-img {
	width: 30%;
	text-align: center;
	margin: auto;
}
.footer-bottom-img img {
	width: 50px;
	height: 50px;
}
/* About style */

.page-level {
	width: 15%;
	position: absolute;
}

.page-level ul li {
	display: inline;
}

.page-level ul li a {
	text-decoration: none;
}

.main-top-container {
	text-align: center;
	width: 100%;
}

.text-card {
	background-color: white;
	width: 75%;
	margin: 0 auto;
}

.text-contact a {
	text-decoration: none;
}

.main-logo {
	text-align: center;
}

.main-previous {
	text-align: center;
}